{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [riak_ensemble,
        lager,
        elli,
        {erldns, {git, "https://github.com/tsloughter/erl-dns.git", {branch, "master"}}}]}.

{relx, [{release, {vanguard, "0.1.0"},
         [vanguard,
          {riak_ensemble, load}]},

        {dev_mode, true},
        {include_erts, false},

        {overlay_vars, "config/vars.config"},
        {overlay, [{template, "bin/vanguard_admin", "bin/vanguard_admin"},
                   {template, "schema/eleveldb.schema", "share/schema/00-eleveldb.schema"}]}
       ]}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},
            {node1, [{relx, [{overlay_vars, ["config/vars.config", "config/vars_node1.config"]}]}]},
            {node2, [{relx, [{overlay_vars, ["config/vars.config", "config/vars_node2.config"]}]}]},
            {node3, [{relx, [{overlay_vars, ["config/vars.config", "config/vars_node3.config"]}]}]}]}.

{project_plugins, [rebar3_cuttlefish]}.
