{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [riak_ensemble,
        lager,
        {erldns, {git, "https://github.com/tsloughter/erl-dns.git", {branch, "master"}}}]}.

{relx, [{release, {vanguard, "0.1.0"},
         [vanguard,
          {riak_ensemble, load},
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {extended_start_script, true},

        {overlay, [{template, "bin/vanguard_admin", "bin/vanguard_admin"}]}
       ]}.
        %% {overlay_vars, "config/vars.config"},
        %% {overlay, [{template, "config/eleveldb.schema", "share/schema/eleveldb.schema"}]}

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

%{project_plugins, [rebar3_cuttlefish]}.
