[
  {riak_ensemble, [{data_root, "./vanguard_data/"}]},

  {erldns,[
    %% DB Config
    {storage,
      [{type, erldns_storage_cadre},    %% erldns_storage_json | erldns_storage_mnesia
       {dir, "db"},
       {dbname, undefined},  %% name of the db
       {user, undefined},    %% for future db types
       {pass, undefined},    %% for future db types
       {host, undefined},    %% for future db types
       {port, undefined}     %% for future db types
      ]},
      {servers, [
        [{name, inet_localhost_1}, {address, "127.0.0.1"}, {port, 8053}, {family, inet}, {processes, 2}],
        [{name, inet6_localhost_1}, {address, "::1"}, {port, 8053}, {family, inet6}]
        % [{name, inet_localhost_2}, {address, "127.0.0.2"}, {port, 8053}, {family, inet}]
      ]},

      {use_root_hints, false},
      {catch_exceptions, false},
      {zones, "/home/tristan/Devel/erl-dns/priv/example.zone.json"},
      {metrics, [
        {port, 8082}
      ]},
      {admin, [
        {port, 8083},
        {credentials, {"username", "password"}}
      ]},
      {pools, [
          {tcp_worker_pool, erldns_worker, [
              {size, 10},
              {max_overflow, 20}
            ]}
        ]}
    ]},

{eleveldb, [{data_root, "./data"},
            %% Memory usage per vnode

            %% Maximum number of files open at once per partition
            %% Default. You must calculate to adjust (see below)
            {max_open_files, 2},
            %% Default. You must calculate to adjust (see below)
            {cache_size, 4194304},

            %% Write performance, Write safety

            %% this is default, recommended
            {sync, false},
            %% this is default, recommended
            {write_buffer_size_min, 31457280},
            %% this is default, recommended
            {write_buffer_size_max, 62914560},

            %% Read performance

            %% Required, strongly recommended to be true
            {use_bloomfilter, true},
            %% Default. Recommended to be 4k
            {sst_block_size, 4096},
            %% Default. Recommended to be 16
            {block_restart_interval, 16},

            %% Database integrity

            %% Default. Strongly recommended to be true
            {verify_checksums, true},
            %% Default. Strongly recommended to be true
            {verify_compactions, true}]},

{lager, [
        {handlers, [
                   {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 104857600}, {count, 5}]}
                   ]}
        ]}
].
