%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Erlang node longname
{node, "vanguard@127.0.0.1"}.

{http_port, 8080}.
{dns_port, 8053}.

%% Paths
{platform_data_dir, "./data"}.
{log_path, "./log"}.
{crash_dump, "{{platform_log_dir}}/erl_crash.dump"}.
